<form action="<%= users_url %>" method="POST">
    <%= auth_token %>
    <label>Email: 
        <input type="text" name="user[email]">
    </label> 
    <label for="password">Password
        <input type="password" name="user[password]" value="">
    </label>

    <button>Create New User!!</button>
</form>